<!DOCTYPE html>
<html>

<head>
    <title>
        login
    </title>
    <style>
    </style>
</head>

<body>
    <h1>로그인</h1><br>
    <form method="GET" action="/login">
        <div>
            <label for="id"> id </label>
            <input type="text" name="id">
        </div>
        <div>
            <label for="pwd"> pwd </label>
            <input type="password" name="pwd">
        </div>
        <div class='button'>
            <button type="submit">login</button>
        </div>
    </form>
</body>

</html>